.container{
    font-size: 50px;
    text-align: center;
}
.container{
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, purple, yellow, orange, red);
    background-size: 300% 300%;
    animation: color 8s ease-in-out infinite normal;
}
@keyframes color{ 
    0%{background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}
} 