* {
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Fmagenta-gradient&psig=AOvVaw3ny7OZOya9cy-LTXw90ubn&ust=1710774755742000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCMi_jOLK-4QDFQAAAAAdAAAAABAE);
    background-size: cover; 
}
 div{
    background-color: white;
    height: 400px;
    width: 500px;
    margin:100px 600px 500px 500px;
    border: 1px solid gray;
    display: inline-block; 
    border-radius: 1%;
} 
label{
   padding-left: 30px;
   margin-top: 30px;
}
input{
    margin-left: 30px;
    border-radius: 5%;
    border: 1px solid gray;
    margin-bottom: 10px;
    height: 18px;
}
select{
    margin-left: 30px;
    height: 30px;
    width: 450px;
    border-radius: 5%;
    border: 1px solid gray;
}
h1{
    margin-left: 30px;
}
button{
    background-color: #de239a;
    color:white;
    margin-left: 30px;
    margin-top: 40px;
    border-radius: 6%;
    height: 30px;
    width: 100px;
    border: 2px solid #de239a;
}
#box2{
    margin-left: 107px;
    margin-top: 50px;
}
#box4{
    margin-left: 115px;
}
#cir1{
    margin-left: 77px;
}
#box6{
    margin-left: 136px;
}
#box7{
    margin-bottom: 50px;
}